$dark: (
    primary-ftclr: var(--light-gray-blue),
    second-ftclr: var(--darker-gray-blue),
    third-ftclr: var(--darkest-gray-blue),
    info-ftclr: var(--royal-blue),
    neutral-ftclr: white,
    primary-bgclr: var(--dark-blue),
    second-bgclr: var(--dark-desaturated-blue),
    gradient:  var(--gradient-bg),
    mb-header-img:  url('../../../public/assets/bg-mobile-dark.jpg'),
    dk-header-img:  url('../../../public/assets/bg-desktop-dark.jpg')
);
