$light: (
    primary-ftclr: var(--dark-gray-blue),
    second-ftclr: var(--darker-gray-blue),
    third-ftclr: var(--gray-blue),
    info-ftclr: var(--royal-blue), 
    neutral-ftclr: white,
    primary-bgclr: var(--light-gray),
    second-bgclr: white,
    gradient:  var(--gradient-bg)
)