@use '../themes' as *;

.header{
    // background-image: url('../../../public/assets/bg-mobile-light.jpg');
    @include themify('background-image', 'mb-header-img');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 250px;
    color: white;
    padding-top: 2.5rem;

    h1{
        font-size: 1.8rem;
        font-weight: bolder;
        letter-spacing: 6px;
    }

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        max-width: 550px;
        margin: auto;
    }

    @media (min-width: 500px) {
        @include themify('background-image', 'dk-header-img');

        h1{
            font-size: 2.3rem;
        }
    }
}