.todo {
  width: 90%;
  margin: -6rem auto;
  color: var(--lightTheme-dark-gray-blue);
  font-size: 0.95rem;

  &__list,
  &__creator,
  &__filter {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 20px rgb(0 0 0 / 16%);
  }

  &__creator {
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem;
    input[type="text"] {
      display: none;
    }
  }

  &__filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
  }
}

.task {
  padding: 1rem;
  display: flex;
  border-bottom: 1px solid var(--lightTheme-light-gray-blue);
  align-items: center;

  &__text {
    width: 100%;
    font-size: 0.85rem;
    color: var(--lightTheme-darker-gray-blue);
  }

  &__trash {
    max-width: 30px;
    img {
      width: 100%;
    }
  }
}
