@use "../themes/" as *;

.todo-app {
  width: 90%;
  max-width: 550px;
  margin: -6.5rem auto;
  @include themify("color", "primary-ftclr");
  font-size: 1rem;
  padding: 0 0 1rem 0;

  &__list,
  &__creator,
  &__filter {
    @include themify("background-color", "second-bgclr");
    border-radius: 5px;
    box-shadow: 0 1px 20px rgb(0 0 0 / 16%);
  }

  &__creator {
    margin-bottom: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 0.3fr 1.7fr 1fr;
    padding: 1rem;

    input[type="text"] {
      border: none;
      outline: none;
      height: 100%;
      width: 100%;
      caret-color: var(--royal-blue);
      background-color: transparent;

      &:focus {
        border: none;
      }
    }

    .cb {
      margin-top: -1rem;
      margin-right: 10px;
    }

    > span {
      margin-right: 1rem;
    }
  }

  &__list {
    position: relative;
    min-height: 400px;
  }

  &__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;

    span:last-child {
      justify-self: end;
      cursor: pointer;
    }
  }

  &__filter {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1.2rem 1rem 1rem 1rem;
    justify-content: center;
    align-items: center;

    > * {
      margin: 0 0.8rem;
    }

    &-mobile {
      margin: 2rem 0;
    }

    &-desktop {
      box-shadow: none;
      padding: none;
      display: none;
    }

    span{
      cursor: pointer;
    }

    .active{
      color: var(--royal-blue)
    }
  }

  @media (min-width: 500px) {
    margin: -7rem auto;
  }

  @media (min-width: 1000px) {
    &__info {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__filter {
      &-desktop {
        display: grid;
      }

      &-mobile {
        display: none;
      }
    }
  }
}

.task {
  padding: 1.3rem 1rem;
  display: flex;
  border-bottom: 1px solid var(--light-gray-blue);
  align-items: center;

  &__text {
    width: 100%;
    @include themify("color", "second-ftclr");

    &:hover {
      cursor: pointer;
    }
  }

  &__trash {
    max-width: 13px;
    img {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &--completed {
    text-decoration: line-through;
    @include themify("color", "primary-ftclr");
  }

  &--completed &__text {
    @include themify("color", "primary-ftclr");
  }

  .cb {
    margin-right: 10px;

  }
}

.lower-message {
  text-align: center;
  margin: 3rem 0;
}
